header h1 {
    background-color: antiquewhite;
}

header {
    background-color: aliceblue;
}

main {
    background-color: aquamarine;
}

ol,ul {
    font-size: 25px;
}

/*clases*/
.cabezera_inicial{
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.parrafo{
    /*tamaño de letra*/
    font-size: 20px;
    /*color de letra*/
    color: aliceblue;
    
}